<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="css/account.css">
</head>
<body>
    <div class="navbar">
        <h1>My Account</h1>
        <a href="/index">
            <img src="/images/Logo_white.png" width = 50px>
        </a>
    </div>
    <div class="container">
        <!-- Profile Section -->
        <div class="profile-header">
            <img src="/images/profile-b.png" alt="Profile Picture">
            <div class="details">
                <h2 th:text="${user.firstName + ' ' + user.lastName}"></h2>
                <p th:text="${user.email}"></p>
            </div>
            <div class="settings-form">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </div>   
        <h2>My Posted Items</h2>     
    
        <div class="items-grid" id="items-grid">
            <!-- Items will be dynamically added here from list-->
            <div th:each="listing: ${listings}">
                <a th:href="@{/viewlisting/{id}(id=${listing.getId})}" class="card-link">
                    <div class="item-card">
                        <img th:src="'data:' + ${listing.imageType} + ';base64,' + ${listing.base64Image}" alt="Item">
                        <div class="info">
                            <h3 th:text="${listing.getTitle}">Item</h3>
                            <p th:text="'$' + ${listing.getPrice}"> Price</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
