<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Listing: ' + ${listing.getTitle}">View Listing</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="listing-container">
        <a href="/index" class="back-link">Back</a>
        <div class="image-container">
            <img th:src="'data:' + ${listing.imageType} + ';base64,' + ${listing.base64Image}" alt="Listing Image" class="listing-image">
        </div>
        <div class="details-container">
            <h1 th:text="${listing.getTitle}">Listing Title</h1>
            <br>
            <p><strong>Contact:</strong> 
                <a th:href="'mailto:' + ${listing.getEmail}" th:text="${listing.getEmail}">John Doe</a>
            </p>
            <br>
            <p><strong>Description:</strong> <span th:text="${listing.getDescription}">Description goes here</span></p>
            <br>
            <p><strong>Price:</strong> <span th:text="'$' + ${listing.getPrice}">$0.00</span></p> <br>
            <p><strong>Date Posted:</strong> <span th:text="${#temporals.format(listing.getListingAge, 'yyyy-MM-dd, HH:mm')}">DD</span></p>

        
        </div>
    </div>
</body>
</html>
